:root{
    --header-color: #ffffff;
    --primery-text-color: #212121;
    --second-text-color: #757575;
    --primery-title-color: #ffffff;
    --accent-color: #2196F3;
    --second-accent-color: #188CE8;
    --background-color: #2F303A;
}

/* body-style */
body {
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif,'Raleway';
letter-spacing: 0.03em;
}
.top line{
background-color: #FFFFFF; 
border-radius: 0px;
}
.logo {
text-decoration: none;
}
.web{ color: #2196F3;
font-family: 'Raleway', normal;
font-size: 26px;
}
.studio {color: #000;
font-family: 'Raleway', normal;
font-size: 26px;
}
ul{
list-style: none;
}

/* Site nav */
.nav-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14x;
letter-spacing: 0.02em;
color: var(--primery-text-color);
text-decoration: none;    
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color)
}
.current{
    color: var(--accent-color);
}

.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--second-text-color);
    text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}
/*----hero-----*/
.hero {
background-color: #2F303A;
}
.hero-title{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.hero-btn{
    font-weight: bold;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primery-title-color);
    background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus{
background-color: var(--second-accent-color);
}
/*----features-----*/

.features-title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.features-text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
}
.title{
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
}
.box{
border-radius: 0px; 
}
.command{
background-color: #F5F4FA; 
border-radius: [object Object]px;
}
.card{
border-radius: [object Object]px;  
}
h3{
font-family: Roboto;
color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.03em;
text-align: center;
}
p{
color:#757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.03em;
text-align: center;
}
/* -----footer------ */
.footer{
background-color: #2F303A;
border-radius: 0px;   
}
.footer-link-light{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
}
.contakts-address{
    font-style: inherit;  
}
.address-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
    background-color: var(--background-color);
}
/* ------portfolio page------ */

.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background-color:  #F5F4FA ;
}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--primery-title-color);
    background-color: var(--accent-color); 
}
.portfolio-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--primery-text-color);
    letter-spacing: 0.06em;
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}


